*{
    padding: 0;
    margin: 0;
}
.app{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #7b7272;
    color: #fff;
}
.container{
    position: relative;
    height: 90%;
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 50px;
    box-sizing: content-box;
}
.item{
    padding: 0px;
    margin: 0px;
    width: 80%;
    height: 100%;
    position: absolute;
    transform: scale(0.33);
    text-align: center;
    transition: all 0.8s;
    background: rgba(32,32,35,0.2);
}
.active{
    height: 100%;
    width: 70%;
    margin-left: 10px;
    line-height: 300px;
}